body {
    background-color : #F7DE58;
}

#logo {
    max-width: 150px;
    height: auto;
    text-align: left;
}

h1 {
    color:#0E0A49;
    font-family: 'UnifrakturCook', cursive;
    font-size: 50px;
    font-weight: lighter;
    text-align: center;
}

h2 {
    color: #0E0A49;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
}

.images {
    max-width: 30%;
    height: auto;
}

h3 {
    color: #0E0A49;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    text-align: center;
}

.titrecentre {
    text-align: center;
}
.image2 {
    max-width: 40%;
    height: auto;
}

p {
    color: #0E0A49;
    font-family: 'Open Sans Condensed', sans-serif;
}

footer {
    color: #0E0A49;
    text-align: center;
}

.illustration {
    display: flex;
    max-width: 100%;
    height: auto;
    text-align: center;
}

section{
    display: block;
}

.pays h3 {
    text-align: left;
    
}